[submodule "embeddings/SCNE"]
	path = embeddings/SCNE
	url = https://github.com/kdrl/SCNE
[submodule "embeddings/wikiextractor"]
	path = embeddings/wikiextractor
	url = https://github.com/attardi/wikiextractor
